$primaryColor: #f3faff;
$secondaryColor: #08fded;
$sectionColor: #03697c;
$frenchBlueColor: #474bb5;
$footerColor: #044779;
$primaryFontFamily: "Walter Turncoat", cursive;
$secondarFontfamily: "Roboto", sans-serif;
