html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.5rem;
}

.skip-link {
  position: absolute;
  left: -1000px;
  top: 5px;
  z-index: 999;
  background: white;
  color: black;
}

.skip-link:focus {
  left: 0;
}

.mainWrapper {
  width: 100%;
  margin: 0 auto;
  max-width: 1366px;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
  max-width: 1280px;
}

section {
  padding: 100px 0;
}

img {
  width: 100%;
  display: block;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

img:hover,
img:focus {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: 2px 2px 5px grey, -2px -2px 5px grey;
          box-shadow: 2px 2px 5px grey, -2px -2px 5px grey;
}

li {
  list-style: none;
  display: inline-block;
}

a {
  text-decoration: none;
  color: #f3faff;
  display: inline-block;
}

header {
  background-image: url(../funplace-assets/home-header.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 30px;
  padding-left: 65px;
}

nav li {
  margin-right: 20px;
}

nav a {
  font-family: "Roboto", sans-serif;
  line-height: 29px;
  letter-spacing: 1px;
  color: #f3faff;
  padding: 15px 25px;
}

nav a:hover,
nav a:focus {
  -webkit-text-decoration: underline solid #08fded 5px;
          text-decoration: underline solid #08fded 5px;
  text-underline-offset: 7px;
}

.hamburger {
  display: none;
  padding-top: 30px;
  padding-right: 50px;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #f3faff;
}

.hamburger .bar:first-child {
  margin-top: 0;
}

.headerWrapper {
  height: 100%;
}

.mainHeading {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

h1 {
  font-family: "Walter Turncoat", cursive;
  font-size: 145.2px;
  color: #f3faff;
  padding-left: 75px;
}

.mainHeading img {
  position: absolute;
  right: 0px;
  bottom: -20px;
  width: 35%;
}

.mainHeading img:hover,
.mainHeading img:focus {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.fourLinkSection {
  background-color: #03697c;
  padding: 100px 0;
}

.fourLinkSection h2 {
  font-family: "Walter Turncoat", cursive;
  font-size: 45px;
  line-height: 99.8px;
  color: #f3faff;
  text-transform: uppercase;
}

.fourLinkSection p {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  line-height: 29px;
  letter-spacing: 1px;
  color: #f3faff;
}

.fourLinkSection .information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.fourLinkSection .information .infoContainer {
  width: 50%;
  padding: 30px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.fourLinkSection i {
  font-size: 2.5rem;
  color: #474bb5;
  background-color: #08fded;
  padding: 10px;
  border-radius: 50%;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.fourLinkSection i:hover,
.fourLinkSection i:focus {
  color: #f3faff;
  -webkit-animation: shadow-drop-2-center 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
          animation: shadow-drop-2-center 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes shadow-drop-2-center {
  0% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    -webkit-box-shadow: 0 0 10px 10px #f3faff;
            box-shadow: 0 0 10px 10px #f3faff;
  }
  100% {
    -webkit-transform: translateZ(50px);
            transform: translateZ(50px);
    -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.35);
            box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.35);
  }
}

@keyframes shadow-drop-2-center {
  0% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    -webkit-box-shadow: 0 0 10px 10px #f3faff;
            box-shadow: 0 0 10px 10px #f3faff;
  }
  100% {
    -webkit-transform: translateZ(50px);
            transform: translateZ(50px);
    -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.35);
            box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.35);
  }
}
.fourLinkSection a {
  padding-top: 25px;
}

.sectionInfo {
  padding: 0px 15px;
}

#mainWrapper {
  background: #474bb5;
  height: 100vh;
  padding: 45px 0;
}

#mainWrapper h2 {
  font-family: "Walter Turncoat", cursive;
  font-size: 40px;
  line-height: 58px;
  letter-spacing: 1.3px;
  color: #f3faff;
}

#mainWrapper p {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  line-height: 29px;
  letter-spacing: 1px;
  color: #f3faff;
  padding: 10px 0 25px 0;
}

.btn {
  font-family: "Walter Turncoat", cursive;
  font-size: 25.4px;
  text-align: center;
  line-height: 41.6px;
  color: #474bb5;
  background: #08fded;
  display: inline-block;
  padding: 5px 25px;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.btn:hover,
.btn:focus {
  background: #474bb5;
  color: #f3faff;
  border: 3px solid #08fded;
  -webkit-animation: shake-bottom 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
          animation: shake-bottom 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
}

@-webkit-keyframes shake-bottom {
  0%, 100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
  }
  10% {
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg);
  }
  20%, 40%, 60% {
    -webkit-transform: rotate(-4deg);
    transform: rotate(-4deg);
  }
  30%, 50%, 70% {
    -webkit-transform: rotate(4deg);
    transform: rotate(4deg);
  }
  80% {
    -webkit-transform: rotate(-2deg);
    transform: rotate(-2deg);
  }
  90% {
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg);
  }
}

@keyframes shake-bottom {
  0%, 100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
  }
  10% {
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg);
  }
  20%, 40%, 60% {
    -webkit-transform: rotate(-4deg);
    transform: rotate(-4deg);
  }
  30%, 50%, 70% {
    -webkit-transform: rotate(4deg);
    transform: rotate(4deg);
  }
  80% {
    -webkit-transform: rotate(-2deg);
    transform: rotate(-2deg);
  }
  90% {
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg);
  }
}
.programs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pragramsImage {
  width: calc(45% - 100px);
  margin-right: 100px;
  position: relative;
  top: -90px;
}

.pragramsImage img {
  -webkit-box-shadow: 15px 15px #08fded;
          box-shadow: 15px 15px #08fded;
}

.programContent {
  width: calc(50% - 50px);
  margin-left: 50px;
}

.programContent p {
  width: 85%;
}

.locations {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.locationsContent {
  width: calc(50% - 50px);
  margin-right: 50px;
  text-align: end;
}

.locationsContent p {
  text-align: end;
}

.locationsImage {
  width: calc(45% - 100px);
  margin-left: 100px;
  position: relative;
  top: 2px;
  right: 0;
}

.locationsImage img {
  -webkit-box-shadow: -15px 15px #08fded;
          box-shadow: -15px 15px #08fded;
}

#roadTrips {
  background: #03697c;
}

.roadTrips h2 {
  font-family: "Walter Turncoat", cursive;
  font-size: 45px;
  line-height: 99.8px;
  color: #f3faff;
}

.roadTrips p {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  line-height: 29px;
  letter-spacing: 1px;
  color: #f3faff;
  text-align: center;
  padding-bottom: 30px;
}

.roadTrips {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#lake {
  background-image: url(../funplace-assets/banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vh;
}

#event {
  background: #03697c;
}

.event h2 {
  font-family: "Walter Turncoat", cursive;
  font-size: 45px;
  line-height: 99.8px;
  color: #f3faff;
}

.event p {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  line-height: 29px;
  letter-spacing: 1px;
  color: #f3faff;
  padding-bottom: 30px;
}

.event {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.eventImage {
  width: 100%;
  margin-right: 130px;
}

.eventImage img {
  -webkit-box-shadow: -15px 15px #08fded;
          box-shadow: -15px 15px #08fded;
}

.eventContent {
  width: 200%;
}

#imageGallery {
  background: #474bb5;
}

.imageGallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.imageGallery img {
  -webkit-box-flex: 33.33%;
      -ms-flex: 33.33%;
          flex: 33.33%;
  margin-right: 20px;
}

.imageGallery img:last-child {
  margin-right: 0;
}

.imageGallery img:hover,
.imageGallery img:focus {
  -webkit-box-shadow: 10px 10px 10px #f3faff, -10px -10px 10px #f3faff;
          box-shadow: 10px 10px 10px #f3faff, -10px -10px 10px #f3faff;
}

footer {
  background: #044779;
  padding: 10px 0;
}

footer p {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  line-height: 29px;
  letter-spacing: 1px;
  color: #f3faff;
  text-align: center;
}

@media (max-width: 1154px) {
  .mainHeading h1 {
    font-size: 115px;
  }

  .locations {
    padding-top: 55px;
  }
}
@media (max-width: 1033px) {
  #mainWrapper {
    padding: 100px 0;
    height: auto;
  }

  .programs,
.locations {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .pragramsImage,
.locationsImage {
    width: 50%;
    top: 0;
    margin: 0 auto;
  }

  .locationsImage {
    padding-top: 20px;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }

  .programContent,
.locationsContent {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding: 50px 20px 0 20px;
    text-align: center;
  }

  .programContent p,
.locationsContent p {
    width: 100%;
    text-align: center;
  }
}
@media (max-width: 883px) {
  .mainHeading h1 {
    font-size: 93px;
  }

  .eventImage {
    margin-right: 60px;
  }
}
@media (max-width: 775px) {
  nav {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
  }

  nav a:hover,
nav a:focus {
    text-decoration: none;
  }

  nav ul {
    position: fixed;
    left: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #03697c;
    width: 100%;
    text-align: center;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    z-index: 1;
    opacity: 0.9;
    padding-left: 0;
    padding-bottom: 30px;
    border: 2px solid #f3faff;
  }

  nav ul.active {
    left: 0;
  }

  nav ul li {
    margin: 25px auto;
    width: 85%;
  }

  nav ul li:hover,
nav ul li:focus {
    border-bottom: 2px solid #08fded;
    opacity: 0.8;
  }

  nav a {
    font-family: "Walter Turncoat", cursive;
    font-size: 25.4px;
    text-align: center;
    line-height: 41.6px;
    color: #474bb5;
    background: #08fded;
    display: inline-block;
    padding: 5px 25px;
    background-color: #03697c;
    color: #f3faff;
  }

  .hamburger {
    display: block;
    cursor: pointer;
    z-index: 1;
    position: fixed;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(45deg);
            transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(-45deg);
            transform: translateY(-8px) rotate(-45deg);
  }

  .mainHeading h1 {
    font-size: 90px;
    padding-left: 0;
    margin: 0 auto;
  }

  .mainHeading img {
    width: 40%;
    bottom: -100px;
  }

  .fourLinkSection .information .infoContainer {
    width: 100%;
    padding: 0;
  }

  .fourLinkSection h2 {
    font-size: 40px;
  }
}
@media (max-width: 630px) {
  .pragramsImage,
.locationsImage {
    width: 75%;
  }

  .event {
    display: block;
    padding-left: 15px;
  }

  .eventImage {
    width: 60%;
    margin: 0 auto;
  }

  .eventContent {
    width: 100%;
    text-align: center;
    padding-top: 50px;
  }
}
@media (max-width: 530px) {
  .mainHeading img {
    width: 60%;
  }

  .imageGallery {
    display: block;
  }

  .imageGallery img {
    margin-bottom: 30px;
  }

  .imageGallery img:hover,
.imageGallery img:focus {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-box-shadow: 2px 2px 5px #f3faff, -2px -2px 5px #f3faff;
            box-shadow: 2px 2px 5px #f3faff, -2px -2px 5px #f3faff;
  }

  .imageGallery img:last-child {
    padding-bottom: 0;
  }
}
@media (max-width: 456px) {
  .mainHeading h1 {
    font-size: 70px;
  }

  .mainHeading img {
    width: 60%;
  }

  .roadTrips h2 {
    text-align: center;
    line-height: 73px;
  }
}
#blogHeader {
  background-image: url(../funplace-assets/blog-header.jpg);
}

.mainContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background: #03697c;
}

#newActivities {
  -webkit-box-shadow: -2px 2px #08fded;
          box-shadow: -2px 2px #08fded;
  width: 65%;
}

.newActivities {
  position: relative;
}

.newActivitiesImage {
  position: absolute;
  top: -200px;
  padding: 0 0 0 13px;
}

.newActivitiesImage img {
  -webkit-box-shadow: -15px 15px #08fded;
          box-shadow: -15px 15px #08fded;
}

.newActivitiesImage img:hover,
.newActivitiesImage img:focus {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.newActivitiesContent {
  padding: 400px 75px 75px 75px;
}

.newActivitiesContent h2 {
  font-family: "Walter Turncoat", cursive;
  font-size: 98.5px;
  line-height: 125.6px;
  color: #f3faff;
  padding-bottom: 15px;
}

.newActivitiesContent p {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  line-height: 29px;
  letter-spacing: 1px;
  color: #f3faff;
  padding-bottom: 25px;
}

#comments {
  padding: 75px 75px 50px 75px;
}

.comments {
  width: 65%;
  float: right;
}

.comments h2 {
  font-family: "Walter Turncoat", cursive;
  font-size: 98.5px;
  line-height: 125.6px;
  color: #f3faff;
}

.comments p {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  line-height: 29px;
  letter-spacing: 1px;
  color: #f3faff;
}

.comments h3 {
  font-style: italic;
  font-size: 25px;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  line-height: 29px;
  letter-spacing: 1px;
  color: #f3faff;
  padding-bottom: 20px;
}

.firstComment,
.secondComment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30px 0 50px 0;
}

.firstCommentImage {
  width: 35%;
  margin-right: 50px;
}

.secondCommentImage {
  width: 30%;
  margin-right: 50px;
}

.comments img:hover,
.comments img:focus {
  -webkit-box-shadow: 5px 5px 5px #f3faff, -5px -5px 5px #f3faff;
          box-shadow: 5px 5px 5px #f3faff, -5px -5px 5px #f3faff;
}

form {
  padding: 0 75px 75px 75px;
}

.formContainer {
  width: 65%;
  float: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#name,
#email {
  width: calc(50% - 15px);
  margin-right: 15px;
  height: 40px;
  margin-bottom: 40px;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #08fded;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  line-height: 29px;
  letter-spacing: 1px;
  color: #f3faff;
  padding: 40px;
  font-size: 25px;
}

#email {
  margin-right: 0;
}

#message {
  width: 65%;
  float: right;
  margin-bottom: 40px;
  background-color: transparent;
  border: none;
  border: 2px solid #08fded;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  line-height: 29px;
  letter-spacing: 1px;
  color: #f3faff;
  padding: 40px;
  font-size: 25px;
}

.submit {
  width: 65%;
  float: right;
  font-family: "Walter Turncoat", cursive;
  font-size: 25.4px;
  text-align: center;
  line-height: 41.6px;
  color: #474bb5;
  background: #08fded;
  display: inline-block;
  padding: 5px 25px;
  background: #08fded;
  color: #474bb5;
  border: 5px solid #08fded;
  padding: 5px 0;
}

.submit:hover,
.submit:focus {
  background: #474bb5;
  color: #f3faff;
  -webkit-animation: shake-bottom 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
          animation: shake-bottom 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
}

@keyframes shake-bottom {
  0%, 100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
  }
  10% {
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg);
  }
  20%, 40%, 60% {
    -webkit-transform: rotate(-4deg);
    transform: rotate(-4deg);
  }
  30%, 50%, 70% {
    -webkit-transform: rotate(4deg);
    transform: rotate(4deg);
  }
  80% {
    -webkit-transform: rotate(-2deg);
    transform: rotate(-2deg);
  }
  90% {
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg);
  }
}
aside {
  width: 30%;
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}

.asideContainer {
  padding-top: 100px;
  position: relative;
  padding-left: 50px;
  padding: 100px 0 0 50px;
}

.asideContainer img {
  position: absolute;
  left: -20px;
  top: 80px;
}

.asideContainer img:hover,
.asideContainer img:focus {
  -webkit-box-shadow: 10px 10px 10px #f3faff, -10px -10px 10px #f3faff;
          box-shadow: 10px 10px 10px #f3faff, -10px -10px 10px #f3faff;
}

.asideContainer h4 {
  font-family: "Walter Turncoat", cursive;
  font-size: 40px;
  line-height: 58px;
  letter-spacing: 1.3px;
  color: #f3faff;
  font-size: 35px;
}

.asideContainer p,
.asideContainer li {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  line-height: 29px;
  letter-spacing: 1px;
  color: #f3faff;
}

.combinedPara {
  background: #474bb5;
  padding-top: 395px;
}

.asidePara,
.asidePara-2 {
  padding: 0 60px 50px 15px;
}

.asidePara-2 {
  padding-bottom: 30px;
}

.asidePara p {
  padding-top: 20px;
}

.asidePara-2 ul {
  padding: 20px 0 0 20px;
}

.asidePara-2 li {
  display: list-item;
  list-style: disc;
  padding: 0 0 15px 15px;
}

@media (max-width: 892px) {
  .mainHeadingBlog h1 {
    padding-left: 0;
  }

  .mainHeadingBlog {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 30px;
  }

  .mainContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .mainContainer h2 {
    font-size: 72px;
  }

  #newActivities {
    width: 75%;
    margin: 0 auto;
    -webkit-box-shadow: initial;
            box-shadow: initial;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }

  .newActivities {
    position: static;
    border: 2px solid #08fded;
  }

  .newActivitiesImage {
    position: static;
    padding: 30px 30px 30px 48px;
  }

  .newActivitiesContent {
    padding-top: 75px;
  }

  .newActivitiesContent p {
    text-align: center;
  }

  .newActivitiesContent h2 {
    text-align: center;
  }

  .mainWrappar h2 {
    text-align: center;
  }

  aside {
    width: 75%;
    margin: 0 auto;
    padding-bottom: 50px;
  }

  .asideContainer img {
    position: static;
    width: 60%;
    margin: 0 auto;
    padding: 20px 0;
  }

  .asideContainer {
    position: static;
    padding: 0;
    border: 2px solid #08fded;
  }

  .combinedPara {
    padding: 50px 0;
    text-align: center;
  }

  .asidePara,
.asidePara-2 {
    padding: 0;
  }

  .asidePara {
    padding-bottom: 30px;
  }

  .asidePara-2 ul {
    text-align: start;
    padding-left: 210px;
  }

  #comments {
    padding: 0;
  }

  .comments {
    width: 100%;
  }

  .firstCommentImage,
.secondCommentImage {
    margin: 0 auto;
    padding-bottom: 50px;
  }

  .firstComment,
.secondComment {
    display: block;
    text-align: center;
  }

  .firstCommentPara p,
.secondCommentPara p {
    width: 80%;
    margin: 0 auto;
  }

  form {
    padding: 30px 0 100px 0;
    width: 75%;
    margin: 0 auto;
  }

  .formContainer {
    width: 100%;
  }

  #message {
    width: 100%;
  }

  .submit {
    width: 100%;
  }
}
@media (max-width: 765px) {
  .mainHeadingBlog {
    padding-top: 100px;
  }

  .mainContainer h2 {
    font-size: 55px;
  }

  .combinedPara {
    padding: 0 30px;
  }

  .asidePara-2 ul {
    padding-left: 140px;
  }
}
@media (max-width: 604px) {
  .newActivitiesContent h2 {
    line-height: 75px;
  }

  .asidePara-2 ul {
    padding-left: 75px;
  }
}
@media (max-width: 537px) {
  .mainHeadingBlog {
    padding-top: 130px;
  }

  .headerWrapperBlog nav {
    top: -100px;
  }

  .headerWrapperBlog ul {
    display: block;
  }

  .formContainer {
    display: block;
  }

  #name {
    width: 100%;
  }

  #email {
    width: 100%;
  }
}
@media (max-width: 476px) {
  .mainHeadingBlog {
    padding-top: 150px;
  }

  .newActivitiesContent {
    padding: 10px;
  }

  .asidePara-2 ul {
    padding-left: 30px;
  }
}
#touch {
  background-image: url(../funplace-assets/contact-header.jpg);
}

.touchContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #03697c;
}

#formContainer {
  width: 100%;
  margin-left: 0;
  padding: 50px;
  width: 60%;
  background: #474bb5;
  -webkit-box-shadow: 15px 15px #08fded;
          box-shadow: 15px 15px #08fded;
  position: relative;
  top: -170px;
}

#formContainer #name,
#formContainer #email {
  border-bottom: 2px solid #f3faff;
}

#formContainer #message {
  border: 2px solid #f3faff;
  width: 100%;
}

#submit {
  width: 100%;
}

.touchAside {
  padding-top: 100px;
}

.touchAside ul {
  padding-bottom: 15px;
  font-size: 25px;
}

.touchAside li {
  padding: 0 5px;
}

.touchAside p {
  padding-bottom: 20px;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  line-height: 29px;
  letter-spacing: 1px;
  color: #f3faff;
}

.touchParaAside p {
  padding-bottom: 5px;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  line-height: 29px;
  letter-spacing: 1px;
  color: #f3faff;
}

.touchAside i:active {
  padding: 5px;
}

.touchAside li:hover,
.touchAside li:focus {
  background: #474bb5;
  -webkit-animation: shadow-drop-2-center 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
          animation: shadow-drop-2-center 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes shadow-drop-2-center {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-box-shadow: 0 0 0 0 transparent;
    box-shadow: 0 0 5px 5px #08fded;
  }
  100% {
    -webkit-transform: translateZ(50px);
    transform: translateZ(50px);
    -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.35);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.35);
  }
}
@media (max-width: 989px) {
  .mainHeadingTouch h1 {
    padding-left: 0;
  }

  .mainHeadingTouch {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (max-width: 950px) {
  .mainHeadingTouch h1 {
    font-size: 130px;
  }

  .touchformContainer #name {
    width: 100%;
  }

  .touchformContainer #email {
    width: 100%;
  }
}
@media (max-width: 908px) {
  .mainHeadingTouch h1 {
    padding-top: 70px;
  }

  .touchContainer {
    display: block;
    padding-top: 100px;
  }

  #formContainer {
    width: 70%;
    position: static;
    height: 680px;
    padding: 30px;
    margin: 0 auto;
    border: 2px solid #08fded;
  }

  .touchformContainer .submit {
    width: 100%;
  }

  .touchContainer > aside:nth-child(2) {
    margin: 0 auto;
    text-align: center;
    width: 100%;
    padding-bottom: 50px;
  }
}
@media (max-width: 892px) {
  .mainHeadingTouch h1 {
    font-size: 110px;
    padding-top: 130px;
  }
}
@media (max-width: 773px) {
  .mainHeadingTouch h1 {
    padding-top: 230px;
  }
}
@media (max-width: 668px) {
  .headerWrapperTouch nav {
    top: -100px;
  }

  .headerWrapperTouch nav ul {
    display: block;
  }

  .mainHeadingTouch h1 {
    font-size: 80px;
  }
}
@media (max-width: 540px) {
  .mainHeadingTouch h1 {
    font-size: 70px;
  }

  #formContainer {
    width: 80%;
  }
}
@media (max-width: 470px) {
  .mainHeadingTouch h1 {
    font-size: 60px;
  }

  #formContainer {
    width: 85%;
  }
}